/*
* jQuizMe - jQuery quiz plugin
*
* @version 2.2.1
* @date 10/09/2012
*/	
.q-help-btn{  /*Bantuan */
	background-color: #098E45; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.q-quit-btn{  /*Keluar */
	background-color: #098E45; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-right:8px;
}
.q-quitYes-btn{ /*Konfirmasi Ya */
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.q-quitNo-btn{ /*Konfirmasi Tidak */
	background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.q-begin-btn{ /*Mulai */
	background-color: #ECE205; /* Green */
    border: none;
    color: #395187;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.q-check-btn{
	background-color: #098E45; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-right: 3px;
}
.q-next-btn{
	background-color: #ECE205; /* Green */
      border: none;
   color: #395187;
      padding: 12px 12px;
   text-align: center;
    text-decoration: none;
      display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.q-details-btn{ /* Detail */
	background-color: #098E45; /*Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.q-review-btn{ /* Ulasan */
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.q-restart-btn{ /* Ulangi */
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0px;
}
.q-del-btn{ /* Hapus */
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.q-ques{
	 text-align: justify;
    padding: 3px;
 
}
.q-radioBtn{
	margin-right: 0px;
}
.q-leftArrow{
	background-color: #098E45; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}
.q-rightArrow{
	background-color: #098E45; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}



body {
	margin: 2px;
	
	background:#E8F2FE;
	padding-bottom :50px;
	padding-top :5px;
	padding-left :5px;
	padding-right :5px;
	}
.quiz-el{
	background: thin Deepskyblue solid;
	font-size: 100%;
	font-family: times new roman;
	padding: 0.2em;
}
.quiz-el div{
	padding: 0.2em;
}
.quiz-el input{
	font-size: 100%;
}
/* .q-innerArea = .q-header, .q-help, .q-prob, .q-intro, .q-gameOver */
.q-innerArea{
	background: #ffffff;
	position:relative;
	clear: both;
	color: #000000;
}

.q-help{
	background: #ffffff;
	position:relative;
	clear: both;
	color: #000000;
}
.q-header{
	text-align:center;
	background: #6599fe;
	position:relative;
	clear: both;
	color: #ffffff;
}
.q-intro{
	background: #ffffff;
	position:relative;
	clear: both;
	color: #000000;
	border:thin Deepskyblue solid;
   text-align: center;
}


.q-prob{
	background: #ffffff;
	position:relative;
	clear: both;
	color: #000000;
	border:thin Deepskyblue solid;
}


.q-header, .q-help, .q-review-menu {
	border: thin Deepskyblue solid;
}
.q-intro{
	padding: 0.2em;
   margin: 3px;
}
.q-title{
	overflow: hidden;
	width: 100%;
	margin: 0;
   text-align: center;
}
/*This is a hack, because IE fails on float:right.*/
.q-counter{
	position: absolute;
	top: 0%;
	right: 0%;
	margin: 1%;
	padding: 0%;
}
.q-counter{
	float: right;
}
.q-help{
	position: relative;
	clear:both;
}
/*.q-probArea = .q-ques, .q-ansSel, .q-result */

.q-ques{
	
	
	font-size: 100%;
	color:#000000;
	position: relative;
   padding: 3px;
   text-align: justify;
   
	
}

.q-ansSel{
	
	border: thin Deepskyblue solid;
	font-size: 100%;
	color:#000000;
	position: relative;
   padding: 3px;
   text-align: justify;
   
	
}



.q-result{
	background: #6599fe;
	border: thin Deepskyblue solid;
	font-size: 100%;
	color:#ffffff;
	position: relative;
   margin: 3px;
	
}

.q-probArea{
	
	border: thin Deepskyblue solid;
	font-size: 100%;
	position: relative;
   margin:3px
}
.q-help-menu{
	width: 100%;
}
.q-help-info{
	clear:both;
}
.q-quit-confirm, .q-quit-area, .q-review-arrows{
	display: inline;
	width: auto;
}
.q-quit-area{
	float: right;
}
.q-review-arrows{
	position: relative;	/*IE hack.*/
	width: 2.3em;
}
.q-center{
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.q-gameOver .q-statTotal{
	color: blue;
}
.q-quesInput{
	width: 100%;
   margin: 8px;
}
.q-ol{
	list-style-type: upper-alpha;
	list-style-position: inside;
	padding: 0;
	margin: 3px;
}
.q-ol-li{
	margin: 5px;
}
.q-ol-hover{
	background: #F44336;
	color: #ffffff;
  padding:4px;
}
.q-ol-active{
	background: #6599fe;
	color: #ffffff;
}
/*IE displays the wrong width for <select> tags.*/
.q-select{
	width : 100%;
}
.q-select{
	font-size: 100%;
	width: 100%;
}
.q-timer-area{
	display:block;
	text-align:center;
	width: auto;
}
.q-review-menu{
	text-align: center;
	width: auto;
}
.q-reviewBar-btns{
	position: relative;
	display: inline-block;
	width: 49%;
}
.q-rightArrow{
	float:right;
   margin-top:50px;
   margin-bottom:50px
   margin-right:10px;
  
}
.q-leftArrow{
	float:left;
   margin-top:50px;
   margin-bottom:50px
   margin-left:10px;
 
}
.q-timer-area{
	line-height: 0;
	height:0;
}
